body {
    background-color: rgb(255, 165, 180);
}

.navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(100, 100, 100);
    border-radius: 50px;
    box-shadow: 4px 7px 10px rgba(0,0,0,0.3);
    animation: flyUpNavigation 2s ease-out forwards;
}

@keyframes flyUpNavigation {
    0% {
        gap: 0;
        width: 55px;
        color: transparent;
    }
    50% {
        gap: 0px;
        width: 60vw;
        color: transparent;
    }
    75% {
        color: rgb(100, 100, 100);
    }
    100% {
        gap: 40px;
        width: 60vw;
        color: rgb(100, 100, 100);
    }
}

.navigation {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 140%;
    height: 9vh;
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.navigation ul li {
    cursor: pointer;
    padding: 3px;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.navigation ul li:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 104, 129);
}

.menu {
    background-color: rgb(255, 255, 255);
    width: 74%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: 13%;
    border-radius: 50px;
    box-shadow: 4px 7px 10px rgba(0,0,0,0.3);
    margin-top: 60px;
}

.menu ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* 3 ряди */
    grid-auto-flow: column;              /* Заповнення по стовпцях */
    gap: 50px;                           /* Відстань між елементами */
    list-style: none;
    padding: 0;
    margin: 0;
    justify-items: center;
}

.menu ul li {
    padding: 5px 10px;
    background-color: rgb(255, 165, 180);
    width: 18vw;
    height: 10vh;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 4px 7px 10px rgba(0,0,0,0.3);
}